#box_1 {
  position: static;
  width: 200px;
  height: 200px;
  background-color: #ee3e64;
}

#box_2 {
  position: static;
  width: 200px;
  height: 200px;
  background-color: #44accf;
}

#box_3 {
  position: static;
  width: 200px;
  height: 200px;
  background-color: #b7d84b;
}